.app-menu {
    background: white;
}

p.upload-csv {
  position: relative;
  overflow: hidden;
}
p.upload-csv input {
  position: absolute;
  font-size: 50px;
  opacity: 0;
  right: 0;
  top: 0;
  cursor: pointer;
}

.bg-dashboard-icon {
  background-image: url('/images/dashboard-normal.png');
}

.bg-dashboard-icon-hover {
  background-image: url('/images/dashboard-hover.png');
}

.bg-account-list-icon {
  background-image: url('/images/AccountList-normal.png');
}

.bg-account-list-icon-hover {
  background-image: url('/images/AccountList-hover.png');
}


.bg-document-icon {
background-image: url('/images/document-normal.png');
}

.bg-document-icon-hover {
background-image: url('/images/document-hover.png');
}

.bg-billing-icon {
  background-image: url('/images/billing-normal.png');
}

.bg-billing-icon-hover {
  background-image: url('/images/billing-hover.png');
}

.btn-theme {
  background-color: #1D9E48;
}

.btn-theme:hover {
  background-color: #198754;
}

/* Upload Update Stock and Upload New Products */
.p2 {
  margin-top: 10px;
}

/* Products list table title */
.navbar-brand {
  color: #1D9E48
}

/* <--- Start of Product Table ---> */
.nav.nav-pills.nav-justified.product {
  border-bottom: 1px solid #22a144;
  margin-bottom: 10px;
}

/* Active tab */
.nav.nav-pills.nav-justified.product .nav-item .nav-link.active {
  background-color: #c5e7c8;
}

/* Inactive tab */
.nav.nav-pills.nav-justified.product .nav-item .nav-link {
  background-color: #fff;
  color: #22a144;
}

/* Table Columns */

.product-table-column {
  background-color: #fff !important;
  color: #15742e !important;
  font-size: 18px !important;
}

/* <------------ End -------------> */
