.app-menu {
    background: white;
}

p.upload-csv {
  position: relative;
  overflow: hidden;
}
p.upload-csv input {
  position: absolute;
  font-size: 50px;
  opacity: 0;
  right: 0;
  top: 0;
  cursor: pointer;
}

.bg-dashboard-icon {
  background-image: url('/images/dashboard-normal.png');
}

.bg-dashboard-icon-hover {
  background-image: url('/images/dashboard-hover.png');
}

.bg-account-list-icon {
  background-image: url('/images/AccountList-normal.png');
}

.bg-account-list-icon-hover {
  background-image: url('/images/AccountList-hover.png');
}


.bg-document-icon {
  background-image: url('/images/document-normal.png');
}

.bg-document-icon-hover {
  background-image: url('/images/document-hover.png');
}

.bg-billing-icon {
  background-image: url('/images/billing-normal.png');
}

.bg-billing-icon-hover {
  background-image: url('/images/billing-hover.png');
}

.btn-theme {
  background-color: #1D9E48;
}

.btn-theme:hover {
  background-color: #198754;
}

/* Change navigation color */
.shop-logo {
  padding: 0.625rem 0.5rem;
  color: green;
  font-size: large;
  font-weight: bold;
}

.aimeos .main-sidebar {
  background: transparent;

}

.aimeos .sidebar-wrapper {
  top: 9.7rem;
  margin-left: 2rem;
  width: max(13.5%, 12rem);
}

.aimeos .main-sidebar .sidebar-menu {
	background: transparent;
  -moz-box-shadow:    inset 0 0 5px rgba(0,0,0,.175);
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,.175);
  box-shadow:         inset 0 0 5px rgba(0,0,0,.175);
  border-radius: 6px;
  background-color: var(--bs-bg-light, #ffffff);
  margin-top: 0.3rem;
  overflow: auto;
}

.aimeos .main-sidebar .sidebar-menu li {
	background: transparent;
}

.aimeos .main-sidebar .sidebar-menu li.after {
  border-top-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.aimeos .main-sidebar .sidebar-menu li.before {
  border-bottom-right-radius: 0 !important;
}

.aimeos .sidebar-menu a {
  color: green;
}

.aimeos .sidebar-menu a:hover {
  text-decoration: none;
  color: #144220 !important;
}

.aimeos .sidebar-menu li:hover {
  
 

}

.aimeos .sidebar-menu .active i {
  color: green !important;
}

.aimeos .sidebar-menu .active .title {
  color: green !important;
}

.aimeos .main-sidebar .sidebar-menu li {
  margin: 1.2rem 0;
}

.aimeos .main-sidebar .sidebar-menu li.active {
  background-color: #c5e7c8 !important;
  color: #22a144;
  
}

.aimeos form.list {
  -moz-box-shadow:    inset 0 0 5px rgba(0,0,0,.175);
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,.175);
  box-shadow:         inset 0 0 5px rgba(0,0,0,.175);
  border-radius: 6px;
}


/* Upload Update Stock and Upload New Products */
.p2 {
  margin-top: 1.5rem;
}

/* Products list table title */
.navbar-brand {
  color: #1D9E48
}

/* <--- Start of Product Table ---> */
.nav.nav-pills.nav-justified.product {
  border-bottom: 1px solid #22a144;
  margin-bottom: 10px;
}

/* Active tab */
.nav.nav-pills.nav-justified.product .nav-item .nav-link.active {
  background-color: #c5e7c8;
}

/* Inactive tab */
.nav.nav-pills.nav-justified.product .nav-item .nav-link {
  background-color: #fff;
  color: #22a144;
}

/* Table Columns */

.product-table-column, .list-orders tr th {
  background-color: #fff !important;
  color: #15742e !important;
  font-size: 18px !important;
}

.list-orders {
  border-collapse: collapse;
}
 
.list-orders th {
  border-bottom: 1pt solid #15742e !important;
  
}

.aimeos table.list-items th{
  font-weight: bold;
}

.aimeos table.list-items th.product-table-column-product-code {
  text-align: left;
  padding-left: 2.5rem;
}

.aimeos table.list-items th.product-table-column-product-name {
  text-align: left;
  padding-left: 1.5rem;
  font-weight: bold;
}

.aimeos table.list-items td.product-code {
  text-align: left;
  padding-left: 2.5rem;
}

.aimeos table.list-items td.product-label {
  text-align: left;
  padding-left: 1.5rem;
}

.btn-primary {
  background-color: #1D9E48;
}

.btn-primary:hover {
  background-color: #177737;
}

.nav-item .nav-link:hover:not(.active) {
  background-color: #c5e7c8 !important;
}

.list-item .price {
  padding-right: 1.5em !important;
  text-align: right !important;
}

.aimeos .order-base-price {
  text-align: right !important;
}

.aimeos .order-company_name {
  text-align: left !important;
}

.box-shadow {
  -moz-box-shadow:    inset 0 0 5px rgba(0,0,0,.175);
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,.175);
  box-shadow:         inset 0 0 5px rgba(0,0,0,.175);
  border-radius: 6px;
}

.order-product-list {
  margin-top: 1rem;
  border-bottom: 1px solid gray;
  padding-bottom: 8px;
  font-weight: bold;
}

.order-notes {
  border:1px solid white;
  -moz-box-shadow:    inset 0 0 5px rgba(0,0,0,.175);
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,.175);
  box-shadow:         inset 0 0 5px rgba(0,0,0,.175);
  border-radius: 6px;

}

.order-list-name {
  text-align: start !important;
  padding-left: 2rem;
}

.aimeos .list-orders .order-base-price {
  padding-right: 1rem;
}
/* <------------ End -------------> */

.dd-nav {
  -tw-bg-opacity: 1;
  background-color: #95A199;
  border-top-left-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0.75rem;
  left:inherit !important;
  right:0;
  width: 265px;
  padding: 20px;
}

.dd-nav li
{  
  display: flex;
  align-items: center;
  padding: 3px 0;
}

.dd-nav .dropdown-item {
  color:white !important;
  width: 75%;
  display: inline-block;
  
}

.dd-nav .dropdown-item:hover{
  background-color: inherit !important;
  color: white !important;
}

.dd-nav li label {
  width: 20px;
  height:20px;
}

.bg-profile-icon-white {
  background-image: url('/images/profile-icon-white.png');
}

.bg-call-icon-white {
  background-image: url("/images/call-icon-white.png");
}

.bg-settings-icon-white {
  background-image: url("/images/settings-icon-white.png");
}

.bg-widget-settings-icon {
  background-image: url("/images/widget-settings.png");
}

.bg-signout-icon {
  background-image: url("/images/signout.png");
}